.campaign-goal {
  margin: 0;
  padding: 0;
/*  background: #FFF5E4; */
  /**/
}
.campaign-goal .circle {
  padding: 40px 40px 20px;
  background: #fff;
  max-width: 200px;
  margin: 40px auto;
  position: relative;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 2px 6px 2px 0 0 0 0.1px;
  -moz-box-shadow: 0 2px 6px 2px 0 0 0 0.1px;
  box-shadow: 0 2px 6px 2px 0 0 0 0.1px;
  -moz-box-shadow: 0 2px 6px 2px rgba(0, 0, 6, 0.1);
  -webkit-box-shadow: 0 2px 6px 2px rgba(0, 0, 6, 0.1);
  box-shadow: 0 2px 6px 2px rgba(0, 0, 6, 0.1);
}
.campaign-goal .circle-frame {
  overflow: hidden;
  position: relative;
  z-index: 10;
  width: 200px;
  margin: 0 auto;
}
.campaign-goal .circle-bg {
  width: 200px;
  height: 100px;
  background: #eee;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -moz-border-radius: 200px 200px 0 0;
  -webkit-border-radius: 200px 200px 0 0;
  border-radius: 200px 200px 0 0;
  -moz-box-shadow: inset 0 3px 12px 0 rgba(0, 0, 12, 0.1);
  -webkit-box-shadow: inset 0 3px 12px 0 rgba(0, 0, 12, 0.1);
  box-shadow: inset 0 3px 12px 0 rgba(0, 0, 12, 0.1);
}
.campaign-goal .circle-fill {
  width: 200px;
  height: 100px;
  background: #d3222e;
  position: absolute;
  top: 0px;
  left: 0;
  /*.transition(all);*/
  -moz-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
  -moz-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -moz-border-radius: 200px 200px 0 0;
  -webkit-border-radius: 200px 200px 0 0;
  border-radius: 200px 200px 0 0;
}
.campaign-goal .circle-mask {
  width: 100px;
  height: 50px;
  background: #f3f3f4;
  position: absolute;
  bottom: 0;
  left: 50px;
  -webkit-box-shadow: 0 3px 12px 0 0 0 0 0.1px;
  -moz-box-shadow: 0 3px 12px 0 0 0 0 0.1px;
  box-shadow: 0 3px 12px 0 0 0 0 0.1px;
  -moz-box-shadow: 0 3px 12px 0 rgba(0, 0, 12, 0.1);
  -webkit-box-shadow: 0 3px 12px 0 rgba(0, 0, 12, 0.1);
  box-shadow: 0 3px 12px 0 rgba(0, 0, 12, 0.1);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -moz-border-radius: 100px 100px 0 0;
  -webkit-border-radius: 100px 100px 0 0;
  border-radius: 100px 100px 0 0;
}
.campaign-goal .value {
  position: absolute;
  bottom: -3px;
  left: 0;
  right: 0;
  text-align: center;
  color: red;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
.campaign-goal .circle-label {
  padding: 20px 30px 0;
  border-top: 1px solid #eee;
  margin: 40px -40px 0;
  color: #666;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  line-height: 21px;
}
.campaign-goal .circle-label + .circle-label {
  margin-top: 20px;
}
.campaign-goal button {
  cursor: pointer;
  display: block;
  width: 100%;
  padding: 15px;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  border: none;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: green;
  color: white;
  -webkit-transition: all;
  -moz-transition: all;
  -o-transition: all;
  transition: all;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.campaign-goal button:hover {
  background-color: #00b300;
}
.campaign-goal input {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  cursor: e-arrow;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  z-index: 200;
  height: 100px;
  border: 0px;
}
.campaign-goal input:focus {
  border: none;
  outline: none;
}
/*
.campaign-goal input:before {
  content: attr(min);
  position: absolute;
  left: 3px;
  bottom: 3px;
  font-size: 15px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.35);
  font-family: "Montserrat", sans-serif;
  width: 50px;
  text-align: center;
}
.campaign-goal input:after {
  content: attr(goal);
  position: absolute;
  right: 3px;
  bottom: 3px;
  font-size: 15px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.35);
  font-family: "Montserrat", sans-serif;
  width: 50px;
  text-align: center;
}
*/
.campaign-goal input::-webkit-slider-thumb {
  opacity: 0.01;
}
.campaign-goal input::-moz-slider-thumb {
  opacity: 0.01;
}
.campaign-goal input[value="0"] ~ .circle-fill {
  -moz-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
  background-color: #d3222e;
}
.campaign-goal input[value="0"] ~ .circle-fill ~ .value {
  color: #d3222e;
}
.campaign-goal input[value="1"] ~ .circle-fill {
  -moz-transform: rotate(-178.2deg);
  -webkit-transform: rotate(-178.2deg);
  -o-transform: rotate(-178.2deg);
  -ms-transform: rotate(-178.2deg);
  transform: rotate(-178.2deg);
  background-color: #d4242d;
}
.campaign-goal input[value="1"] ~ .circle-fill ~ .value {
  color: #d4242d;
}
.campaign-goal input[value="2"] ~ .circle-fill {
  -moz-transform: rotate(-176.4deg);
  -webkit-transform: rotate(-176.4deg);
  -o-transform: rotate(-176.4deg);
  -ms-transform: rotate(-176.4deg);
  transform: rotate(-176.4deg);
  background-color: #d4262c;
}
.campaign-goal input[value="2"] ~ .circle-fill ~ .value {
  color: #d4262c;
}
.campaign-goal input[value="3"] ~ .circle-fill {
  -moz-transform: rotate(-174.6deg);
  -webkit-transform: rotate(-174.6deg);
  -o-transform: rotate(-174.6deg);
  -ms-transform: rotate(-174.6deg);
  transform: rotate(-174.6deg);
  background-color: #d5282c;
}
.campaign-goal input[value="3"] ~ .circle-fill ~ .value {
  color: #d5282c;
}
.campaign-goal input[value="4"] ~ .circle-fill {
  -moz-transform: rotate(-172.8deg);
  -webkit-transform: rotate(-172.8deg);
  -o-transform: rotate(-172.8deg);
  -ms-transform: rotate(-172.8deg);
  transform: rotate(-172.8deg);
  background-color: #d52a2b;
}
.campaign-goal input[value="4"] ~ .circle-fill ~ .value {
  color: #d52a2b;
}
.campaign-goal input[value="5"] ~ .circle-fill {
  -moz-transform: rotate(-171deg);
  -webkit-transform: rotate(-171deg);
  -o-transform: rotate(-171deg);
  -ms-transform: rotate(-171deg);
  transform: rotate(-171deg);
  background-color: #d62c2a;
}
.campaign-goal input[value="5"] ~ .circle-fill ~ .value {
  color: #d62c2a;
}
.campaign-goal input[value="6"] ~ .circle-fill {
  -moz-transform: rotate(-169.2deg);
  -webkit-transform: rotate(-169.2deg);
  -o-transform: rotate(-169.2deg);
  -ms-transform: rotate(-169.2deg);
  transform: rotate(-169.2deg);
  background-color: #d62e29;
}
.campaign-goal input[value="6"] ~ .circle-fill ~ .value {
  color: #d62e29;
}
.campaign-goal input[value="7"] ~ .circle-fill {
  -moz-transform: rotate(-167.4deg);
  -webkit-transform: rotate(-167.4deg);
  -o-transform: rotate(-167.4deg);
  -ms-transform: rotate(-167.4deg);
  transform: rotate(-167.4deg);
  background-color: #d73128;
}
.campaign-goal input[value="7"] ~ .circle-fill ~ .value {
  color: #d73128;
}
.campaign-goal input[value="8"] ~ .circle-fill {
  -moz-transform: rotate(-165.6deg);
  -webkit-transform: rotate(-165.6deg);
  -o-transform: rotate(-165.6deg);
  -ms-transform: rotate(-165.6deg);
  transform: rotate(-165.6deg);
  background-color: #d83327;
}
.campaign-goal input[value="8"] ~ .circle-fill ~ .value {
  color: #d83327;
}
.campaign-goal input[value="9"] ~ .circle-fill {
  -moz-transform: rotate(-163.8deg);
  -webkit-transform: rotate(-163.8deg);
  -o-transform: rotate(-163.8deg);
  -ms-transform: rotate(-163.8deg);
  transform: rotate(-163.8deg);
  background-color: #d83527;
}
.campaign-goal input[value="9"] ~ .circle-fill ~ .value {
  color: #d83527;
}
.campaign-goal input[value="10"] ~ .circle-fill {
  -moz-transform: rotate(-162deg);
  -webkit-transform: rotate(-162deg);
  -o-transform: rotate(-162deg);
  -ms-transform: rotate(-162deg);
  transform: rotate(-162deg);
  background-color: #d93726;
}
.campaign-goal input[value="10"] ~ .circle-fill ~ .value {
  color: #d93726;
}
.campaign-goal input[value="11"] ~ .circle-fill {
  -moz-transform: rotate(-160.2deg);
  -webkit-transform: rotate(-160.2deg);
  -o-transform: rotate(-160.2deg);
  -ms-transform: rotate(-160.2deg);
  transform: rotate(-160.2deg);
  background-color: #d93925;
}
.campaign-goal input[value="11"] ~ .circle-fill ~ .value {
  color: #d93925;
}
.campaign-goal input[value="12"] ~ .circle-fill {
  -moz-transform: rotate(-158.4deg);
  -webkit-transform: rotate(-158.4deg);
  -o-transform: rotate(-158.4deg);
  -ms-transform: rotate(-158.4deg);
  transform: rotate(-158.4deg);
  background-color: #da3b24;
}
.campaign-goal input[value="12"] ~ .circle-fill ~ .value {
  color: #da3b24;
}
.campaign-goal input[value="13"] ~ .circle-fill {
  -moz-transform: rotate(-156.6deg);
  -webkit-transform: rotate(-156.6deg);
  -o-transform: rotate(-156.6deg);
  -ms-transform: rotate(-156.6deg);
  transform: rotate(-156.6deg);
  background-color: #db3d23;
}
.campaign-goal input[value="13"] ~ .circle-fill ~ .value {
  color: #db3d23;
}
.campaign-goal input[value="14"] ~ .circle-fill {
  -moz-transform: rotate(-154.8deg);
  -webkit-transform: rotate(-154.8deg);
  -o-transform: rotate(-154.8deg);
  -ms-transform: rotate(-154.8deg);
  transform: rotate(-154.8deg);
  background-color: #db3f23;
}
.campaign-goal input[value="14"] ~ .circle-fill ~ .value {
  color: #db3f23;
}
.campaign-goal input[value="15"] ~ .circle-fill {
  -moz-transform: rotate(-153deg);
  -webkit-transform: rotate(-153deg);
  -o-transform: rotate(-153deg);
  -ms-transform: rotate(-153deg);
  transform: rotate(-153deg);
  background-color: #dc4122;
}
.campaign-goal input[value="15"] ~ .circle-fill ~ .value {
  color: #dc4122;
}
.campaign-goal input[value="16"] ~ .circle-fill {
  -moz-transform: rotate(-151.2deg);
  -webkit-transform: rotate(-151.2deg);
  -o-transform: rotate(-151.2deg);
  -ms-transform: rotate(-151.2deg);
  transform: rotate(-151.2deg);
  background-color: #dc4321;
}
.campaign-goal input[value="16"] ~ .circle-fill ~ .value {
  color: #dc4321;
}
.campaign-goal input[value="17"] ~ .circle-fill {
  -moz-transform: rotate(-149.4deg);
  -webkit-transform: rotate(-149.4deg);
  -o-transform: rotate(-149.4deg);
  -ms-transform: rotate(-149.4deg);
  transform: rotate(-149.4deg);
  background-color: #dd4520;
}
.campaign-goal input[value="17"] ~ .circle-fill ~ .value {
  color: #dd4520;
}
.campaign-goal input[value="18"] ~ .circle-fill {
  -moz-transform: rotate(-147.6deg);
  -webkit-transform: rotate(-147.6deg);
  -o-transform: rotate(-147.6deg);
  -ms-transform: rotate(-147.6deg);
  transform: rotate(-147.6deg);
  background-color: #dd471f;
}
.campaign-goal input[value="18"] ~ .circle-fill ~ .value {
  color: #dd471f;
}
.campaign-goal input[value="19"] ~ .circle-fill {
  -moz-transform: rotate(-145.8deg);
  -webkit-transform: rotate(-145.8deg);
  -o-transform: rotate(-145.8deg);
  -ms-transform: rotate(-145.8deg);
  transform: rotate(-145.8deg);
  background-color: #de4a1e;
}
.campaign-goal input[value="19"] ~ .circle-fill ~ .value {
  color: #de4a1e;
}
.campaign-goal input[value="20"] ~ .circle-fill {
  -moz-transform: rotate(-144deg);
  -webkit-transform: rotate(-144deg);
  -o-transform: rotate(-144deg);
  -ms-transform: rotate(-144deg);
  transform: rotate(-144deg);
  background-color: #df4c1e;
}
.campaign-goal input[value="20"] ~ .circle-fill ~ .value {
  color: #df4c1e;
}
.campaign-goal input[value="21"] ~ .circle-fill {
  -moz-transform: rotate(-142.2deg);
  -webkit-transform: rotate(-142.2deg);
  -o-transform: rotate(-142.2deg);
  -ms-transform: rotate(-142.2deg);
  transform: rotate(-142.2deg);
  background-color: #df4e1d;
}
.campaign-goal input[value="21"] ~ .circle-fill ~ .value {
  color: #df4e1d;
}
.campaign-goal input[value="22"] ~ .circle-fill {
  -moz-transform: rotate(-140.4deg);
  -webkit-transform: rotate(-140.4deg);
  -o-transform: rotate(-140.4deg);
  -ms-transform: rotate(-140.4deg);
  transform: rotate(-140.4deg);
  background-color: #e0501c;
}
.campaign-goal input[value="22"] ~ .circle-fill ~ .value {
  color: #e0501c;
}
.campaign-goal input[value="23"] ~ .circle-fill {
  -moz-transform: rotate(-138.6deg);
  -webkit-transform: rotate(-138.6deg);
  -o-transform: rotate(-138.6deg);
  -ms-transform: rotate(-138.6deg);
  transform: rotate(-138.6deg);
  background-color: #e0521b;
}
.campaign-goal input[value="23"] ~ .circle-fill ~ .value {
  color: #e0521b;
}
.campaign-goal input[value="24"] ~ .circle-fill {
  -moz-transform: rotate(-136.8deg);
  -webkit-transform: rotate(-136.8deg);
  -o-transform: rotate(-136.8deg);
  -ms-transform: rotate(-136.8deg);
  transform: rotate(-136.8deg);
  background-color: #e1541a;
}
.campaign-goal input[value="24"] ~ .circle-fill ~ .value {
  color: #e1541a;
}
.campaign-goal input[value="25"] ~ .circle-fill {
  -moz-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
  background-color: #e2561a;
}
.campaign-goal input[value="25"] ~ .circle-fill ~ .value {
  color: #e2561a;
}
.campaign-goal input[value="26"] ~ .circle-fill {
  -moz-transform: rotate(-133.2deg);
  -webkit-transform: rotate(-133.2deg);
  -o-transform: rotate(-133.2deg);
  -ms-transform: rotate(-133.2deg);
  transform: rotate(-133.2deg);
  background-color: #e25819;
}
.campaign-goal input[value="26"] ~ .circle-fill ~ .value {
  color: #e25819;
}
.campaign-goal input[value="27"] ~ .circle-fill {
  -moz-transform: rotate(-131.4deg);
  -webkit-transform: rotate(-131.4deg);
  -o-transform: rotate(-131.4deg);
  -ms-transform: rotate(-131.4deg);
  transform: rotate(-131.4deg);
  background-color: #e35a18;
}
.campaign-goal input[value="27"] ~ .circle-fill ~ .value {
  color: #e35a18;
}
.campaign-goal input[value="28"] ~ .circle-fill {
  -moz-transform: rotate(-129.6deg);
  -webkit-transform: rotate(-129.6deg);
  -o-transform: rotate(-129.6deg);
  -ms-transform: rotate(-129.6deg);
  transform: rotate(-129.6deg);
  background-color: #e35c17;
}
.campaign-goal input[value="28"] ~ .circle-fill ~ .value {
  color: #e35c17;
}
.campaign-goal input[value="29"] ~ .circle-fill {
  -moz-transform: rotate(-127.8deg);
  -webkit-transform: rotate(-127.8deg);
  -o-transform: rotate(-127.8deg);
  -ms-transform: rotate(-127.8deg);
  transform: rotate(-127.8deg);
  background-color: #e45e16;
}
.campaign-goal input[value="29"] ~ .circle-fill ~ .value {
  color: #e45e16;
}
.campaign-goal input[value="30"] ~ .circle-fill {
  -moz-transform: rotate(-126deg);
  -webkit-transform: rotate(-126deg);
  -o-transform: rotate(-126deg);
  -ms-transform: rotate(-126deg);
  transform: rotate(-126deg);
  background-color: #e46015;
}
.campaign-goal input[value="30"] ~ .circle-fill ~ .value {
  color: #e46015;
}
.campaign-goal input[value="31"] ~ .circle-fill {
  -moz-transform: rotate(-124.2deg);
  -webkit-transform: rotate(-124.2deg);
  -o-transform: rotate(-124.2deg);
  -ms-transform: rotate(-124.2deg);
  transform: rotate(-124.2deg);
  background-color: #e56215;
}
.campaign-goal input[value="31"] ~ .circle-fill ~ .value {
  color: #e56215;
}
.campaign-goal input[value="32"] ~ .circle-fill {
  -moz-transform: rotate(-122.4deg);
  -webkit-transform: rotate(-122.4deg);
  -o-transform: rotate(-122.4deg);
  -ms-transform: rotate(-122.4deg);
  transform: rotate(-122.4deg);
  background-color: #e66514;
}
.campaign-goal input[value="32"] ~ .circle-fill ~ .value {
  color: #e66514;
}
.campaign-goal input[value="33"] ~ .circle-fill {
  -moz-transform: rotate(-120.6deg);
  -webkit-transform: rotate(-120.6deg);
  -o-transform: rotate(-120.6deg);
  -ms-transform: rotate(-120.6deg);
  transform: rotate(-120.6deg);
  background-color: #e66713;
}
.campaign-goal input[value="33"] ~ .circle-fill ~ .value {
  color: #e66713;
}
.campaign-goal input[value="34"] ~ .circle-fill {
  -moz-transform: rotate(-118.8deg);
  -webkit-transform: rotate(-118.8deg);
  -o-transform: rotate(-118.8deg);
  -ms-transform: rotate(-118.8deg);
  transform: rotate(-118.8deg);
  background-color: #e76912;
}
.campaign-goal input[value="34"] ~ .circle-fill ~ .value {
  color: #e76912;
}
.campaign-goal input[value="35"] ~ .circle-fill {
  -moz-transform: rotate(-117deg);
  -webkit-transform: rotate(-117deg);
  -o-transform: rotate(-117deg);
  -ms-transform: rotate(-117deg);
  transform: rotate(-117deg);
  background-color: #e76b11;
}
.campaign-goal input[value="35"] ~ .circle-fill ~ .value {
  color: #e76b11;
}
.campaign-goal input[value="36"] ~ .circle-fill {
  -moz-transform: rotate(-115.2deg);
  -webkit-transform: rotate(-115.2deg);
  -o-transform: rotate(-115.2deg);
  -ms-transform: rotate(-115.2deg);
  transform: rotate(-115.2deg);
  background-color: #e86d10;
}
.campaign-goal input[value="36"] ~ .circle-fill ~ .value {
  color: #e86d10;
}
.campaign-goal input[value="37"] ~ .circle-fill {
  -moz-transform: rotate(-113.4deg);
  -webkit-transform: rotate(-113.4deg);
  -o-transform: rotate(-113.4deg);
  -ms-transform: rotate(-113.4deg);
  transform: rotate(-113.4deg);
  background-color: #e86f10;
}
.campaign-goal input[value="37"] ~ .circle-fill ~ .value {
  color: #e86f10;
}
.campaign-goal input[value="38"] ~ .circle-fill {
  -moz-transform: rotate(-111.6deg);
  -webkit-transform: rotate(-111.6deg);
  -o-transform: rotate(-111.6deg);
  -ms-transform: rotate(-111.6deg);
  transform: rotate(-111.6deg);
  background-color: #e9710f;
}
.campaign-goal input[value="38"] ~ .circle-fill ~ .value {
  color: #e9710f;
}
.campaign-goal input[value="39"] ~ .circle-fill {
  -moz-transform: rotate(-109.8deg);
  -webkit-transform: rotate(-109.8deg);
  -o-transform: rotate(-109.8deg);
  -ms-transform: rotate(-109.8deg);
  transform: rotate(-109.8deg);
  background-color: #ea730e;
}
.campaign-goal input[value="39"] ~ .circle-fill ~ .value {
  color: #ea730e;
}
.campaign-goal input[value="40"] ~ .circle-fill {
  -moz-transform: rotate(-108deg);
  -webkit-transform: rotate(-108deg);
  -o-transform: rotate(-108deg);
  -ms-transform: rotate(-108deg);
  transform: rotate(-108deg);
  background-color: #ea750d;
}
.campaign-goal input[value="40"] ~ .circle-fill ~ .value {
  color: #ea750d;
}
.campaign-goal input[value="41"] ~ .circle-fill {
  -moz-transform: rotate(-106.2deg);
  -webkit-transform: rotate(-106.2deg);
  -o-transform: rotate(-106.2deg);
  -ms-transform: rotate(-106.2deg);
  transform: rotate(-106.2deg);
  background-color: #eb770c;
}
.campaign-goal input[value="41"] ~ .circle-fill ~ .value {
  color: #eb770c;
}
.campaign-goal input[value="42"] ~ .circle-fill {
  -moz-transform: rotate(-104.4deg);
  -webkit-transform: rotate(-104.4deg);
  -o-transform: rotate(-104.4deg);
  -ms-transform: rotate(-104.4deg);
  transform: rotate(-104.4deg);
  background-color: #eb790c;
}
.campaign-goal input[value="42"] ~ .circle-fill ~ .value {
  color: #eb790c;
}
.campaign-goal input[value="43"] ~ .circle-fill {
  -moz-transform: rotate(-102.6deg);
  -webkit-transform: rotate(-102.6deg);
  -o-transform: rotate(-102.6deg);
  -ms-transform: rotate(-102.6deg);
  transform: rotate(-102.6deg);
  background-color: #ec7b0b;
}
.campaign-goal input[value="43"] ~ .circle-fill ~ .value {
  color: #ec7b0b;
}
.campaign-goal input[value="44"] ~ .circle-fill {
  -moz-transform: rotate(-100.8deg);
  -webkit-transform: rotate(-100.8deg);
  -o-transform: rotate(-100.8deg);
  -ms-transform: rotate(-100.8deg);
  transform: rotate(-100.8deg);
  background-color: #ed7e0a;
}
.campaign-goal input[value="44"] ~ .circle-fill ~ .value {
  color: #ed7e0a;
}
.campaign-goal input[value="45"] ~ .circle-fill {
  -moz-transform: rotate(-99deg);
  -webkit-transform: rotate(-99deg);
  -o-transform: rotate(-99deg);
  -ms-transform: rotate(-99deg);
  transform: rotate(-99deg);
  background-color: #ed8009;
}
.campaign-goal input[value="45"] ~ .circle-fill ~ .value {
  color: #ed8009;
}
.campaign-goal input[value="46"] ~ .circle-fill {
  -moz-transform: rotate(-97.2deg);
  -webkit-transform: rotate(-97.2deg);
  -o-transform: rotate(-97.2deg);
  -ms-transform: rotate(-97.2deg);
  transform: rotate(-97.2deg);
  background-color: #ee8208;
}
.campaign-goal input[value="46"] ~ .circle-fill ~ .value {
  color: #ee8208;
}
.campaign-goal input[value="47"] ~ .circle-fill {
  -moz-transform: rotate(-95.4deg);
  -webkit-transform: rotate(-95.4deg);
  -o-transform: rotate(-95.4deg);
  -ms-transform: rotate(-95.4deg);
  transform: rotate(-95.4deg);
  background-color: #ee8407;
}
.campaign-goal input[value="47"] ~ .circle-fill ~ .value {
  color: #ee8407;
}
.campaign-goal input[value="48"] ~ .circle-fill {
  -moz-transform: rotate(-93.6deg);
  -webkit-transform: rotate(-93.6deg);
  -o-transform: rotate(-93.6deg);
  -ms-transform: rotate(-93.6deg);
  transform: rotate(-93.6deg);
  background-color: #ef8607;
}
.campaign-goal input[value="48"] ~ .circle-fill ~ .value {
  color: #ef8607;
}
.campaign-goal input[value="49"] ~ .circle-fill {
  -moz-transform: rotate(-91.8deg);
  -webkit-transform: rotate(-91.8deg);
  -o-transform: rotate(-91.8deg);
  -ms-transform: rotate(-91.8deg);
  transform: rotate(-91.8deg);
  background-color: #ef8806;
}
.campaign-goal input[value="49"] ~ .circle-fill ~ .value {
  color: #ef8806;
}
.campaign-goal input[value="50"] ~ .circle-fill {
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  background-color: #f08a05;
}
.campaign-goal input[value="50"] ~ .circle-fill ~ .value {
  color: #f08a05;
}
.campaign-goal input[value="51"] ~ .circle-fill {
  -moz-transform: rotate(-88.2deg);
  -webkit-transform: rotate(-88.2deg);
  -o-transform: rotate(-88.2deg);
  -ms-transform: rotate(-88.2deg);
  transform: rotate(-88.2deg);
  background-color: #ec8b06;
}
.campaign-goal input[value="51"] ~ .circle-fill ~ .value {
  color: #ec8b06;
}
.campaign-goal input[value="52"] ~ .circle-fill {
  -moz-transform: rotate(-86.4deg);
  -webkit-transform: rotate(-86.4deg);
  -o-transform: rotate(-86.4deg);
  -ms-transform: rotate(-86.4deg);
  transform: rotate(-86.4deg);
  background-color: #e98c07;
}
.campaign-goal input[value="52"] ~ .circle-fill ~ .value {
  color: #e98c07;
}
.campaign-goal input[value="53"] ~ .circle-fill {
  -moz-transform: rotate(-84.6deg);
  -webkit-transform: rotate(-84.6deg);
  -o-transform: rotate(-84.6deg);
  -ms-transform: rotate(-84.6deg);
  transform: rotate(-84.6deg);
  background-color: #e58d08;
}
.campaign-goal input[value="53"] ~ .circle-fill ~ .value {
  color: #e58d08;
}
.campaign-goal input[value="54"] ~ .circle-fill {
  -moz-transform: rotate(-82.8deg);
  -webkit-transform: rotate(-82.8deg);
  -o-transform: rotate(-82.8deg);
  -ms-transform: rotate(-82.8deg);
  transform: rotate(-82.8deg);
  background-color: #e18e09;
}
.campaign-goal input[value="54"] ~ .circle-fill ~ .value {
  color: #e18e09;
}
.campaign-goal input[value="55"] ~ .circle-fill {
  -moz-transform: rotate(-81deg);
  -webkit-transform: rotate(-81deg);
  -o-transform: rotate(-81deg);
  -ms-transform: rotate(-81deg);
  transform: rotate(-81deg);
  background-color: #de8f0a;
}
.campaign-goal input[value="55"] ~ .circle-fill ~ .value {
  color: #de8f0a;
}
.campaign-goal input[value="56"] ~ .circle-fill {
  -moz-transform: rotate(-79.2deg);
  -webkit-transform: rotate(-79.2deg);
  -o-transform: rotate(-79.2deg);
  -ms-transform: rotate(-79.2deg);
  transform: rotate(-79.2deg);
  background-color: #da8f0b;
}
.campaign-goal input[value="56"] ~ .circle-fill ~ .value {
  color: #da8f0b;
}
.campaign-goal input[value="57"] ~ .circle-fill {
  -moz-transform: rotate(-77.4deg);
  -webkit-transform: rotate(-77.4deg);
  -o-transform: rotate(-77.4deg);
  -ms-transform: rotate(-77.4deg);
  transform: rotate(-77.4deg);
  background-color: #d6900c;
}
.campaign-goal input[value="57"] ~ .circle-fill ~ .value {
  color: #d6900c;
}
.campaign-goal input[value="58"] ~ .circle-fill {
  -moz-transform: rotate(-75.6deg);
  -webkit-transform: rotate(-75.6deg);
  -o-transform: rotate(-75.6deg);
  -ms-transform: rotate(-75.6deg);
  transform: rotate(-75.6deg);
  background-color: #d2910d;
}
.campaign-goal input[value="58"] ~ .circle-fill ~ .value {
  color: #d2910d;
}
.campaign-goal input[value="59"] ~ .circle-fill {
  -moz-transform: rotate(-73.8deg);
  -webkit-transform: rotate(-73.8deg);
  -o-transform: rotate(-73.8deg);
  -ms-transform: rotate(-73.8deg);
  transform: rotate(-73.8deg);
  background-color: #cf920e;
}
.campaign-goal input[value="59"] ~ .circle-fill ~ .value {
  color: #cf920e;
}
.campaign-goal input[value="60"] ~ .circle-fill {
  -moz-transform: rotate(-72deg);
  -webkit-transform: rotate(-72deg);
  -o-transform: rotate(-72deg);
  -ms-transform: rotate(-72deg);
  transform: rotate(-72deg);
  background-color: #cb930f;
}
.campaign-goal input[value="60"] ~ .circle-fill ~ .value {
  color: #cb930f;
}
.campaign-goal input[value="61"] ~ .circle-fill {
  -moz-transform: rotate(-70.2deg);
  -webkit-transform: rotate(-70.2deg);
  -o-transform: rotate(-70.2deg);
  -ms-transform: rotate(-70.2deg);
  transform: rotate(-70.2deg);
  background-color: #c79410;
}
.campaign-goal input[value="61"] ~ .circle-fill ~ .value {
  color: #c79410;
}
.campaign-goal input[value="62"] ~ .circle-fill {
  -moz-transform: rotate(-68.4deg);
  -webkit-transform: rotate(-68.4deg);
  -o-transform: rotate(-68.4deg);
  -ms-transform: rotate(-68.4deg);
  transform: rotate(-68.4deg);
  background-color: #c49511;
}
.campaign-goal input[value="62"] ~ .circle-fill ~ .value {
  color: #c49511;
}
.campaign-goal input[value="63"] ~ .circle-fill {
  -moz-transform: rotate(-66.6deg);
  -webkit-transform: rotate(-66.6deg);
  -o-transform: rotate(-66.6deg);
  -ms-transform: rotate(-66.6deg);
  transform: rotate(-66.6deg);
  background-color: #c09612;
}
.campaign-goal input[value="63"] ~ .circle-fill ~ .value {
  color: #c09612;
}
.campaign-goal input[value="64"] ~ .circle-fill {
  -moz-transform: rotate(-64.8deg);
  -webkit-transform: rotate(-64.8deg);
  -o-transform: rotate(-64.8deg);
  -ms-transform: rotate(-64.8deg);
  transform: rotate(-64.8deg);
  background-color: #bc9713;
}
.campaign-goal input[value="64"] ~ .circle-fill ~ .value {
  color: #bc9713;
}
.campaign-goal input[value="65"] ~ .circle-fill {
  -moz-transform: rotate(-63deg);
  -webkit-transform: rotate(-63deg);
  -o-transform: rotate(-63deg);
  -ms-transform: rotate(-63deg);
  transform: rotate(-63deg);
  background-color: #b99814;
}
.campaign-goal input[value="65"] ~ .circle-fill ~ .value {
  color: #b99814;
}
.campaign-goal input[value="66"] ~ .circle-fill {
  -moz-transform: rotate(-61.2deg);
  -webkit-transform: rotate(-61.2deg);
  -o-transform: rotate(-61.2deg);
  -ms-transform: rotate(-61.2deg);
  transform: rotate(-61.2deg);
  background-color: #b59815;
}
.campaign-goal input[value="66"] ~ .circle-fill ~ .value {
  color: #b59815;
}
.campaign-goal input[value="67"] ~ .circle-fill {
  -moz-transform: rotate(-59.4deg);
  -webkit-transform: rotate(-59.4deg);
  -o-transform: rotate(-59.4deg);
  -ms-transform: rotate(-59.4deg);
  transform: rotate(-59.4deg);
  background-color: #b19916;
}
.campaign-goal input[value="67"] ~ .circle-fill ~ .value {
  color: #b19916;
}
.campaign-goal input[value="68"] ~ .circle-fill {
  -moz-transform: rotate(-57.6deg);
  -webkit-transform: rotate(-57.6deg);
  -o-transform: rotate(-57.6deg);
  -ms-transform: rotate(-57.6deg);
  transform: rotate(-57.6deg);
  background-color: #ad9a17;
}
.campaign-goal input[value="68"] ~ .circle-fill ~ .value {
  color: #ad9a17;
}
.campaign-goal input[value="69"] ~ .circle-fill {
  -moz-transform: rotate(-55.8deg);
  -webkit-transform: rotate(-55.8deg);
  -o-transform: rotate(-55.8deg);
  -ms-transform: rotate(-55.8deg);
  transform: rotate(-55.8deg);
  background-color: #aa9b18;
}
.campaign-goal input[value="69"] ~ .circle-fill ~ .value {
  color: #aa9b18;
}
.campaign-goal input[value="70"] ~ .circle-fill {
  -moz-transform: rotate(-54deg);
  -webkit-transform: rotate(-54deg);
  -o-transform: rotate(-54deg);
  -ms-transform: rotate(-54deg);
  transform: rotate(-54deg);
  background-color: #a69c19;
}
.campaign-goal input[value="70"] ~ .circle-fill ~ .value {
  color: #a69c19;
}
.campaign-goal input[value="71"] ~ .circle-fill {
  -moz-transform: rotate(-52.2deg);
  -webkit-transform: rotate(-52.2deg);
  -o-transform: rotate(-52.2deg);
  -ms-transform: rotate(-52.2deg);
  transform: rotate(-52.2deg);
  background-color: #a29d1a;
}
.campaign-goal input[value="71"] ~ .circle-fill ~ .value {
  color: #a29d1a;
}
.campaign-goal input[value="72"] ~ .circle-fill {
  -moz-transform: rotate(-50.4deg);
  -webkit-transform: rotate(-50.4deg);
  -o-transform: rotate(-50.4deg);
  -ms-transform: rotate(-50.4deg);
  transform: rotate(-50.4deg);
  background-color: #9f9e1b;
}
.campaign-goal input[value="72"] ~ .circle-fill ~ .value {
  color: #9f9e1b;
}
.campaign-goal input[value="73"] ~ .circle-fill {
  -moz-transform: rotate(-48.6deg);
  -webkit-transform: rotate(-48.6deg);
  -o-transform: rotate(-48.6deg);
  -ms-transform: rotate(-48.6deg);
  transform: rotate(-48.6deg);
  background-color: #9b9f1c;
}
.campaign-goal input[value="73"] ~ .circle-fill ~ .value {
  color: #9b9f1c;
}
.campaign-goal input[value="74"] ~ .circle-fill {
  -moz-transform: rotate(-46.8deg);
  -webkit-transform: rotate(-46.8deg);
  -o-transform: rotate(-46.8deg);
  -ms-transform: rotate(-46.8deg);
  transform: rotate(-46.8deg);
  background-color: #97a01d;
}
.campaign-goal input[value="74"] ~ .circle-fill ~ .value {
  color: #97a01d;
}
.campaign-goal input[value="75"] ~ .circle-fill {
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color: #94a11e;
}
.campaign-goal input[value="75"] ~ .circle-fill ~ .value {
  color: #94a11e;
}
.campaign-goal input[value="76"] ~ .circle-fill {
  -moz-transform: rotate(-43.2deg);
  -webkit-transform: rotate(-43.2deg);
  -o-transform: rotate(-43.2deg);
  -ms-transform: rotate(-43.2deg);
  transform: rotate(-43.2deg);
  background-color: #90a11f;
}
.campaign-goal input[value="76"] ~ .circle-fill ~ .value {
  color: #90a11f;
}
.campaign-goal input[value="77"] ~ .circle-fill {
  -moz-transform: rotate(-41.4deg);
  -webkit-transform: rotate(-41.4deg);
  -o-transform: rotate(-41.4deg);
  -ms-transform: rotate(-41.4deg);
  transform: rotate(-41.4deg);
  background-color: #8ca220;
}
.campaign-goal input[value="77"] ~ .circle-fill ~ .value {
  color: #8ca220;
}
.campaign-goal input[value="78"] ~ .circle-fill {
  -moz-transform: rotate(-39.6deg);
  -webkit-transform: rotate(-39.6deg);
  -o-transform: rotate(-39.6deg);
  -ms-transform: rotate(-39.6deg);
  transform: rotate(-39.6deg);
  background-color: #88a321;
}
.campaign-goal input[value="78"] ~ .circle-fill ~ .value {
  color: #88a321;
}
.campaign-goal input[value="79"] ~ .circle-fill {
  -moz-transform: rotate(-37.8deg);
  -webkit-transform: rotate(-37.8deg);
  -o-transform: rotate(-37.8deg);
  -ms-transform: rotate(-37.8deg);
  transform: rotate(-37.8deg);
  background-color: #85a422;
}
.campaign-goal input[value="79"] ~ .circle-fill ~ .value {
  color: #85a422;
}
.campaign-goal input[value="80"] ~ .circle-fill {
  -moz-transform: rotate(-36deg);
  -webkit-transform: rotate(-36deg);
  -o-transform: rotate(-36deg);
  -ms-transform: rotate(-36deg);
  transform: rotate(-36deg);
  background-color: #81a523;
}
.campaign-goal input[value="80"] ~ .circle-fill ~ .value {
  color: #81a523;
}
.campaign-goal input[value="81"] ~ .circle-fill {
  -moz-transform: rotate(-34.2deg);
  -webkit-transform: rotate(-34.2deg);
  -o-transform: rotate(-34.2deg);
  -ms-transform: rotate(-34.2deg);
  transform: rotate(-34.2deg);
  background-color: #7da624;
}
.campaign-goal input[value="81"] ~ .circle-fill ~ .value {
  color: #7da624;
}
.campaign-goal input[value="82"] ~ .circle-fill {
  -moz-transform: rotate(-32.4deg);
  -webkit-transform: rotate(-32.4deg);
  -o-transform: rotate(-32.4deg);
  -ms-transform: rotate(-32.4deg);
  transform: rotate(-32.4deg);
  background-color: #7aa725;
}
.campaign-goal input[value="82"] ~ .circle-fill ~ .value {
  color: #7aa725;
}
.campaign-goal input[value="83"] ~ .circle-fill {
  -moz-transform: rotate(-30.6deg);
  -webkit-transform: rotate(-30.6deg);
  -o-transform: rotate(-30.6deg);
  -ms-transform: rotate(-30.6deg);
  transform: rotate(-30.6deg);
  background-color: #76a826;
}
.campaign-goal input[value="83"] ~ .circle-fill ~ .value {
  color: #76a826;
}
.campaign-goal input[value="84"] ~ .circle-fill {
  -moz-transform: rotate(-28.8deg);
  -webkit-transform: rotate(-28.8deg);
  -o-transform: rotate(-28.8deg);
  -ms-transform: rotate(-28.8deg);
  transform: rotate(-28.8deg);
  background-color: #72a927;
}
.campaign-goal input[value="84"] ~ .circle-fill ~ .value {
  color: #72a927;
}
.campaign-goal input[value="85"] ~ .circle-fill {
  -moz-transform: rotate(-27deg);
  -webkit-transform: rotate(-27deg);
  -o-transform: rotate(-27deg);
  -ms-transform: rotate(-27deg);
  transform: rotate(-27deg);
  background-color: #6faa28;
}
.campaign-goal input[value="85"] ~ .circle-fill ~ .value {
  color: #6faa28;
}
.campaign-goal input[value="86"] ~ .circle-fill {
  -moz-transform: rotate(-25.2deg);
  -webkit-transform: rotate(-25.2deg);
  -o-transform: rotate(-25.2deg);
  -ms-transform: rotate(-25.2deg);
  transform: rotate(-25.2deg);
  background-color: #6baa29;
}
.campaign-goal input[value="86"] ~ .circle-fill ~ .value {
  color: #6baa29;
}
.campaign-goal input[value="87"] ~ .circle-fill {
  -moz-transform: rotate(-23.4deg);
  -webkit-transform: rotate(-23.4deg);
  -o-transform: rotate(-23.4deg);
  -ms-transform: rotate(-23.4deg);
  transform: rotate(-23.4deg);
  background-color: #67ab2a;
}
.campaign-goal input[value="87"] ~ .circle-fill ~ .value {
  color: #67ab2a;
}
.campaign-goal input[value="88"] ~ .circle-fill {
  -moz-transform: rotate(-21.6deg);
  -webkit-transform: rotate(-21.6deg);
  -o-transform: rotate(-21.6deg);
  -ms-transform: rotate(-21.6deg);
  transform: rotate(-21.6deg);
  background-color: #63ac2b;
}
.campaign-goal input[value="88"] ~ .circle-fill ~ .value {
  color: #63ac2b;
}
.campaign-goal input[value="89"] ~ .circle-fill {
  -moz-transform: rotate(-19.8deg);
  -webkit-transform: rotate(-19.8deg);
  -o-transform: rotate(-19.8deg);
  -ms-transform: rotate(-19.8deg);
  transform: rotate(-19.8deg);
  background-color: #60ad2c;
}
.campaign-goal input[value="89"] ~ .circle-fill ~ .value {
  color: #60ad2c;
}
.campaign-goal input[value="90"] ~ .circle-fill {
  -moz-transform: rotate(-18deg);
  -webkit-transform: rotate(-18deg);
  -o-transform: rotate(-18deg);
  -ms-transform: rotate(-18deg);
  transform: rotate(-18deg);
  background-color: #5cae2d;
}
.campaign-goal input[value="90"] ~ .circle-fill ~ .value {
  color: #5cae2d;
}
.campaign-goal input[value="91"] ~ .circle-fill {
  -moz-transform: rotate(-16.2deg);
  -webkit-transform: rotate(-16.2deg);
  -o-transform: rotate(-16.2deg);
  -ms-transform: rotate(-16.2deg);
  transform: rotate(-16.2deg);
  background-color: #58af2e;
}
.campaign-goal input[value="91"] ~ .circle-fill ~ .value {
  color: #58af2e;
}
.campaign-goal input[value="92"] ~ .circle-fill {
  -moz-transform: rotate(-14.4deg);
  -webkit-transform: rotate(-14.4deg);
  -o-transform: rotate(-14.4deg);
  -ms-transform: rotate(-14.4deg);
  transform: rotate(-14.4deg);
  background-color: #55b02f;
}
.campaign-goal input[value="92"] ~ .circle-fill ~ .value {
  color: #55b02f;
}
.campaign-goal input[value="93"] ~ .circle-fill {
  -moz-transform: rotate(-12.6deg);
  -webkit-transform: rotate(-12.6deg);
  -o-transform: rotate(-12.6deg);
  -ms-transform: rotate(-12.6deg);
  transform: rotate(-12.6deg);
  background-color: #51b130;
}
.campaign-goal input[value="93"] ~ .circle-fill ~ .value {
  color: #51b130;
}
.campaign-goal input[value="94"] ~ .circle-fill {
  -moz-transform: rotate(-10.8deg);
  -webkit-transform: rotate(-10.8deg);
  -o-transform: rotate(-10.8deg);
  -ms-transform: rotate(-10.8deg);
  transform: rotate(-10.8deg);
  background-color: #4db231;
}
.campaign-goal input[value="94"] ~ .circle-fill ~ .value {
  color: #4db231;
}
.campaign-goal input[value="95"] ~ .circle-fill {
  -moz-transform: rotate(-9deg);
  -webkit-transform: rotate(-9deg);
  -o-transform: rotate(-9deg);
  -ms-transform: rotate(-9deg);
  transform: rotate(-9deg);
  background-color: #4ab332;
}
.campaign-goal input[value="95"] ~ .circle-fill ~ .value {
  color: #4ab332;
}
.campaign-goal input[value="96"] ~ .circle-fill {
  -moz-transform: rotate(-7.2deg);
  -webkit-transform: rotate(-7.2deg);
  -o-transform: rotate(-7.2deg);
  -ms-transform: rotate(-7.2deg);
  transform: rotate(-7.2deg);
  background-color: #46b333;
}
.campaign-goal input[value="96"] ~ .circle-fill ~ .value {
  color: #46b333;
}
.campaign-goal input[value="97"] ~ .circle-fill {
  -moz-transform: rotate(-5.4deg);
  -webkit-transform: rotate(-5.4deg);
  -o-transform: rotate(-5.4deg);
  -ms-transform: rotate(-5.4deg);
  transform: rotate(-5.4deg);
  background-color: #42b434;
}
.campaign-goal input[value="97"] ~ .circle-fill ~ .value {
  color: #42b434;
}
.campaign-goal input[value="98"] ~ .circle-fill {
  -moz-transform: rotate(-3.6deg);
  -webkit-transform: rotate(-3.6deg);
  -o-transform: rotate(-3.6deg);
  -ms-transform: rotate(-3.6deg);
  transform: rotate(-3.6deg);
  background-color: #3eb535;
}
.campaign-goal input[value="98"] ~ .circle-fill ~ .value {
  color: #3eb535;
}
.campaign-goal input[value="99"] ~ .circle-fill {
  -moz-transform: rotate(-1.8deg);
  -webkit-transform: rotate(-1.8deg);
  -o-transform: rotate(-1.8deg);
  -ms-transform: rotate(-1.8deg);
  transform: rotate(-1.8deg);
  background-color: #3bb636;
}
.campaign-goal input[value="99"] ~ .circle-fill ~ .value {
  color: #3bb636;
}
.campaign-goal input[value="100"] ~ .circle-fill {
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  background-color: #37b737;
}
.campaign-goal input[value="100"] ~ .circle-fill ~ .value {
  color: #37b737;
}
.campaign-goal